* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.header__cart_icon {
  color: #FFFFFF;
}

.header__wrapper {
  display: flex;
  position: fixed;
  padding-top: 50px;
}

.header__logo {
  margin-right: 230px;
}

.header__right {
  display: flex;
  align-items: center; 
}

.header__items {
  margin-right: 25px;
}

.container {
   padding-left: 165px;
   padding-right: 165px;
}
.header__link {
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
text-decoration: none;
color: #FFFFFF;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


ul {
  list-style-type: none;
}
.header__vl {
width: 51px;
height: 0px;
border: 1px solid rgb(255, 255, 255);
transform: rotate(90deg);
margin-left: 15px;
}

.header__info_info {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
}


.header__info_phone {
  display: flex;
}

.header__info {
  color: #FFFFFF;
}

.header__info_phone_number {
  margin-left: 10px;
}

.header__info_btn {
  margin-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
  width: 157px;
  height: 47px;
  background: #FF7400;
  border: none;
  padding: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  color: #FFFFFF;
}

.modal-window {
  display: none;
  background-color: rgba(107, 107, 107, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items:center;
}

.modal-window__wrapper {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
}

.modal-window__show {
  display: flex;


}

.modal-window__close {
  position: absolute;
  top:0;
  right: 0;
  width: 50px;
  height: 50px;
}

.modal-window__close::after {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   height: 45px;
   width: 3px;
   background-color:black;
   transform: rotate(45deg);
}

.modal-window__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 45px;
  width: 3px;
  background-color:black;
  transform: rotate(-45deg);
}

.banner {
  background-image: url('hero\ image.png');
  margin: 0;
  padding: 0;
  background-size: 100%;
  height: 800px;
}

.banner__wrapper {
  color: black;
}

h1 {
font-style: normal;
font-weight: normal;
color: #D67E35;
}

.banner__headline_welcome {
  padding-top: 322px;
  margin-left: 34px;
  font-size: 38px;
  line-height: 25px;
}

.banner__headline_rest {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 60px;
  line-height: 45px;
}

.banner__headline_house {
  position: relative;
  font-style:unset;
  font-weight:lighter;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}


.banner__headline_house::after,
.banner__headline_house::before {
  content: " ";
  position: absolute;
  display: block;
  width: 61px;
  height: 2px;
  background: #C4C4C4;
  border: 1px solid rgb(255, 255, 255);
}

.banner__headline_house::before {
  top: 10px;
  left: -90px;
}

.banner__headline_house::after {
  top: 10px;
  right: -90px;
}

.banner_house {
  display: flex;
    margin-left: 150px;
    margin-top: 40px;
}

.banner__btn_menu {
  width: 137px;
  height: 47px;
  background: #FF7400;
  cursor: pointer;
  margin-top: 21px;
  margin-left: 160px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.food {
  position: relative;
  top: -100px;
}

.food__wrapper {
  display: flex;
  justify-content: space-between;
}

.food__card {
  margin-right: 30px;
  width: 350px;
  padding: 20px 35px;
  background-color:rgb(255, 255, 255);
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.benefits__block:last-child {
  margin-right: 0;
}

.food__img {
margin-top: 35px;
}

.food__img img {
  display: block;
  margin: 0 auto;
}

.food__title {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #2C2C2C;
  text-align: center;
  
}

.yellow__drop {
  color:#dabd3f;
}

.food__text {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #656363;
}

.history {
  margin-top: 140px;
  margin-bottom: 120px;
}

.history__wrapper {
  display: flex;
}

.history__right {
  position: relative;
  width: 50%;

}

.history__left {
  width: 50%;
  padding: 20px 170px 20px 30px;

}


.history_headline {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}

.history_text {
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #656363;
  font-weight: normal;
  margin-bottom: 40px;
}

.history_statistics {
  display: flex;
  justify-content: space-evenly;
}

.history__card {
  text-align: center;
}

.history__name {
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  font-weight: normal;
}

.history__number {
  font-style: normal;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #BC9060;
  font-weight: normal;
}

.history__right img {
  position: absolute;
}

.history__img_species {
  top: 0px;
  z-index: 5;
}

.history__img_cake {
  top: -35px;
  left: 190px;
  z-index: 3;
}

.history__img_restraunt {
  left: 320px;
  top: 140px;
  z-index: 4;
}

.history__img_box {
  top: 30px;
  left: 320px;
  z-index: 1;
}

.celebrate {
  background-image: url("./celebrate.png"), url("./blackbox.png") ;
  margin-top: 200px;
  background-size: 100%;
  height: 400px;
}

.celebrate__wrapper {
  display: flex;
}

.celebrate__left {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-right: 150px;
}

.celebrate__left h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
}

.celebrate__left p {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.order__btn {
  margin: 155px 30px 155px 300px;
  width: 157px;
  height: 47px;
  background: #FF7400;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.meals__wrapper {
  display: flex;
}

.meals h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
  text-align: center;
  margin: 130px 0px;
}

.meals__left {
  width: 30%;
  margin-left: 150px;
}

.meals__right {
  width: 60%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meals__card {
  display: flex;
  align-items: center;
}

.meals__card p { 
  margin-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}